<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIhDKvSS1ceo3ojdD1ITfA9-1rtnRou7k</string>
	<key>GCM_SENDER_ID</key>
	<string>965105343234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationCourse</string>
	<key>PROJECT_ID</key>
	<string>push-notification-7112e</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-7112e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965105343234:ios:e9027d8d2dae8c7146c01b</string>
</dict>
</plist>